.intro {
  width: 100vw;
  height: 100vh;
  background: #050100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .title {
  width: 865px;
  color: white;
  font-weight: 800;
  transition: 0.7s;
  letter-spacing: -10px;
}

.intro h1 {
  display: inline-block;
  font-size: 140px;
  transform: scaleX(1.32);
}

.intro h1.name {
  margin-left: 85px;
}

.intro span {
  font-size: 140px;
  font-weight: 700;
  position: relative;
  margin-left: 60px;
  font-weight: 600;
}
