.our_work {
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 35px;
}

.our_work > .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 90px;
  padding-bottom: 75px;
}

.our_work h1 {
  text-align: center;
  color: white;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 35px;
}

.our_work .project {
  width: 100%;
  height: 250px;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.our_work hr {
  background: white;
  border: none;
  height: 1px;
  margin: 5px 0;
}

.our_work span {
  width: 250px;
  font-size: 22px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.our_work h2 {
  width: 35%;
  margin-left: 0px;
  font-size: 44px;
  font-weight: 600;
}

.our_work i {
  font-size: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 35px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  cursor: pointer;
  transition: 0.1s;
  display: none;
}

.our_work i:hover,
.our_work i:active {
  background: white;
  color: black;
}

.our_work a {
  width: fit-content;
  height: 100%;
  position: absolute;
  right: 300px;
}

.our_work img {
  width: 435px;
  height: fit-content;
  opacity: 0;
  border-radius: 12px;
  transition: opacity 0.3s 0s, transform 0.4s 0.11s;
}

.our_work .project:hover img {
  opacity: 1;
  transform: rotate(-5deg);
  transition-delay: 0;
}

@media only screen and (max-width: 1652px) {
  .our_work a {
    right: 10vw;
  }
}

@media only screen and (max-width: 1472px) {
  .our_work .project {
    height: 200px;
  }

  .our_work span {
    width: 175px;
    font-size: 18px;
  }

  .our_work h2 {
    font-size: 34px;
  }

  .our_work img {
    height: 90%;
    width: fit-content;
    opacity: 1;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .our_work img {
    display: none;
  }

  .our_work:hover {
    transform: none;
  }

  .our_work i {
    padding: 23px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .our_work .project {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .our_work span {
    line-height: 25px;
  }

  .our_work h2 {
    width: fit-content;
    margin-top: -15px;
    line-height: 42px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 756px) {
  .our_work > .wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .our_work .project {
    justify-content: start;
    height: 350px;
  }

  .our_work span {
    font-size: 18px;
  }

  .our_work h2 {
    font-size: 26px;
    margin-top: -25px;
  }

  .our_work a {
    height: 225px;
    bottom: 0;
    left: 15px;
  }

  .our_work img {
    display: block;
  }

  .our_work i {
    bottom: 250px;
    right: 35px;
  }
}

@media only screen and (max-width: 473px) {
  .our_work h1 {
    font-size: 44px;
  }

  .our_work .project {
    height: 350px;
    padding: 5px 5px;
  }

  .our_work a {
    width: calc(100% - 15px);
    height: 235px;
    bottom: 0;
    left: 7px;
  }

  .our_work img {
    width: 100%;
    object-fit: cover;
  }

  .our_work i {
    right: 5px;
    padding: 15px;
  }
}
